/* This is a mobile-first layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 1rem;
}

.main-header{
    text-align: center;
    background-color: #8EF58A;
}

.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background-color: #57606f;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: #f1f2f6;
}

.link-text{
    font-size: 0.8rem;
}


.logo{
    width: 187px;
    height: auto;
    padding: 1% 0;
}



.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    background: url(../images/Home-background.jpg) no-repeat center center;
    background-size: cover;
}

.banner div:first-child{
    height: 19rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.4);
}

.opening-hours{
    text-align: center;
    color: #f1f2f6;
}

.opening-hours h1{
    margin-top: 0;
    margin-bottom: 1rem;
}

.opening-hours p{
    font-size: 1.25rem;
    margin: 0.1rem 0;
}

.weekdays{
    font-weight: bold;
    color: #8EF58A;
}



/* Media Queries */

@media only screen and (min-width: 350px) {

    .link-text{
        font-size: 1rem;
    }

}

/* .container{
    width: 70%;
    margin: 0 auto;
} */