/* This is a mobile-first layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

main{
    padding-bottom: 4rem;
}

section{
    padding: 1rem 0;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
}

.container{
    padding: 0 1.2rem;
}


.main-header{
    text-align: center;
}

.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    background-color: #57606f;
    z-index: 1;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
    color: #f1f2f6;
}

.link-text{
    font-size: 0.8rem;
}


.logo{
    width: 187px;
    height: auto;
    padding: 1% 0;
}



/* Top Section */

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42vh;
    width: auto;
    background: url(../images/Home-background.jpg) no-repeat center center;
    background-size: cover;
    color: #f1f2f6;
}

.background-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32vh;
    width: 70vw;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 1rem;
}

.banner h1{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.opening-hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.opening-hours p{
    font-size: 1.15rem;
    margin: 0.1rem 0;
}

.weekdays{
    font-weight: bold;
    color: #8EF58A;
}


/* Video of studio room tour */
.room-tour h2{
    text-align: center;
    margin: 1rem 0;
}

.room-tour p{
    text-align: start;
}

.room-tour h3{
    color: #2ecc71;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.room-tour-video{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    z-index: 0;
}

/* "Test Us" Sentences under video */
.test-us{
    text-align: center;
    margin-top: 2rem;
}

.test-us p{
    text-align: center;
}

.test-us-sentence{
    margin-top: 1.25rem !important;
}

.mini-logo{
    width: 100px;
    height: auto;
    margin-top: 0.8rem;
}



/* Activity Offers Section */

.activity-offers{
    background-color: #424147;
    color: #f1f2f6;
}




/* Media Queries */


@media (min-width: 350px) {

    .link-text{
        font-size: 1rem;
    }

}

@media (max-height: 549px) and (orientation: landscape) {

    .background-box{
        width: 55vw;
    }

    .opening-hours{
        flex-direction: row;
    }

    .banner h1{
        font-size: 1.25rem;
    }

    .opening-hours p{
        font-size: 1rem;
    }

    .opening-hours div:first-child{
        margin-right: 1rem;
    }

    .opening-hours div:last-child{
        margin-left: 1rem;
    }

}

@media (min-width: 1000px) {

    .banner{
        height: 52vh;
    }

}

/* .container{
    width: 70%;
    margin: 0 auto;
} */