/* This is a mobile-first layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 1rem;
}

.main-header{
    text-align: center;
    background-color: #8EF58A;
}

.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background-color: #57606f;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: #f1f2f6;
}

.link-text{
    font-size: 0.8rem;
}


.logo{
    width: 187px;
    height: auto;
    padding: 1% 0;
}



/* Media Queries */

@media only screen and (min-width: 350px) {

    .link-text{
        font-size: 1rem;
    }

}

/* .container{
    width: 70%;
    margin: 0 auto;
} */